{% load static %}
<div class="container">
    <section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
             style="background: url({% static 'img/hero-banner-alt.jpg' %})">
        <div class="container py-5">
            <div class="row px-4 px-lg-5">
                <div class="col-lg-6">
                    <p class="text-muted small text-uppercase mb-2">New Inspiration 2020</p>
                    <h1 class="h2 text-uppercase mb-3">20% off on new season</h1><a class="btn btn-dark"
                                                                                    href="https://shop.distro.uz/ru/shop.html">Узнать
                    больше</a>
                </div>
            </div>
        </div>
    </section>
    <!-- CATEGORIES SECTION-->
    <section class="pt-5">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Подборки товаров</p>
            <h2 class="h5 text-uppercase mb-4">Коллекции со вкусом</h2>
        </header>
        <div class="row">

            <div class="col-md-4"><a class="category-item" href="https://shop.distro.uz/ru/category/chasy/"><img
                    class="img-fluid" src="./Главная страница_files/product-5.jpg" alt=""><strong
                    class="category-item-title">Часы</strong></a>
            </div>

            <div class="col-md-4"><a class="category-item"
                                     href="https://shop.distro.uz/ru/category/fotoapparaty/"><img
                    class="img-fluid" src="./Главная страница_files/product-10.jpg" alt=""><strong
                    class="category-item-title">Фотоаппараты</strong></a>
            </div>

            <div class="col-md-4"><a class="category-item"
                                     href="https://shop.distro.uz/ru/category/odezhda/"><img class="img-fluid"
                                                                                             src="./Главная страница_files/product-6.jpg"
                                                                                             alt=""><strong
                    class="category-item-title">Одежда</strong></a>
            </div>


        </div>
    </section>
    <!-- TRENDING PRODUCTS-->

    <section class="py-5">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1">Подборки товаров</p>
            <h2 class="h5 text-uppercase mb-4">популярные товары</h2>
        </header>
        <div class="row">


            <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div>
                        <a class="d-block"
                           href="https://shop.distro.uz/ru/product/smart-chasy-apple-watch-series-8-45-mm-red/"><img
                                class="img-fluid w-100"
                                src="./Главная страница_files/APPLESERIES8SPORTBAND45MMRed.jpg" alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">


                                <li class="list-inline-item m-0 p-0">
                                    <a class="btn btn-sm btn-outline-dark"
                                       href="https://shop.distro.uz/ru/add_favorite/smart-chasy-apple-watch-series-8-45-mm-red/">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>


                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                        href="https://shop.distro.uz/ru/to_cart/2/add/">Добавить
                                    в корзину</a></li>
                                <!--                    <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="https://shop.distro.uz/ru/detail.html">Смарт часы Apple
                        Watch Series 8 45 mm Red</a></h6>
                    <p class="small text-muted">$950,0</p>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div>
                        <a class="d-block"
                           href="https://shop.distro.uz/ru/product/nikon-z7ii-kit-nikkor-z-24-70mm-f4s/"><img
                                class="img-fluid w-100"
                                src="./Главная страница_files/nikon-z7-mark-ii-body-4.jpg" alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">


                                <li class="list-inline-item m-0 p-0">
                                    <a class="btn btn-sm btn-outline-dark"
                                       href="https://shop.distro.uz/ru/add_favorite/nikon-z7ii-kit-nikkor-z-24-70mm-f4s/">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>


                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                        href="https://shop.distro.uz/ru/to_cart/12/add/">Добавить
                                    в корзину</a></li>
                                <!--                    <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="https://shop.distro.uz/ru/detail.html">Nikon Z7II Kit
                        Nikkor Z 24-70mm f/4S</a></h6>
                    <p class="small text-muted">$3800,0</p>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div>
                        <a class="d-block" href="https://shop.distro.uz/ru/product/vyayva/"><img
                                class="img-fluid w-100" src="./Главная страница_files/Skoro-zdes-budet-foto.jpg"
                                alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">


                                <li class="list-inline-item m-0 p-0">
                                    <a class="btn btn-sm btn-outline-dark"
                                       href="https://shop.distro.uz/ru/add_favorite/vyayva/">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>


                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                        href="https://shop.distro.uz/ru/to_cart/20/add/">Добавить
                                    в корзину</a></li>
                                <!--                    <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="https://shop.distro.uz/ru/detail.html">выаыва</a></h6>
                    <p class="small text-muted">$12,0</p>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div>
                        <a class="d-block" href="https://shop.distro.uz/ru/product/yyyy/"><img
                                class="img-fluid w-100" src="./Главная страница_files/Skoro-zdes-budet-foto.jpg"
                                alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">


                                <li class="list-inline-item m-0 p-0">
                                    <a class="btn btn-sm btn-outline-dark"
                                       href="https://shop.distro.uz/ru/add_favorite/yyyy/">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>


                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                        href="https://shop.distro.uz/ru/to_cart/21/add/">Добавить
                                    в корзину</a></li>
                                <!--                    <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="https://shop.distro.uz/ru/detail.html">ыыыы</a></h6>
                    <p class="small text-muted">$333,0</p>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div>
                        <a class="d-block"
                           href="https://shop.distro.uz/ru/product/naruchnye-chasy-orient-feu00000ww/"><img
                                class="img-fluid w-100" src="./Главная страница_files/Orient_FEU00000WW.jpg"
                                alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">


                                <li class="list-inline-item m-0 p-0">
                                    <a class="btn btn-sm btn-outline-dark"
                                       href="https://shop.distro.uz/ru/add_favorite/naruchnye-chasy-orient-feu00000ww/">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>


                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                        href="https://shop.distro.uz/ru/to_cart/8/add/">Добавить
                                    в корзину</a></li>
                                <!--                    <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="https://shop.distro.uz/ru/detail.html">Наручные часы
                        Orient FEU00000WW</a></h6>
                    <p class="small text-muted">$1700,0</p>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6">
                <div class="product text-center">
                    <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div>
                        <a class="d-block"
                           href="https://shop.distro.uz/ru/product/canon-dslr-90d-18-135-nano-usm-325mp-4k/"><img
                                class="img-fluid w-100"
                                src="./Главная страница_files/b9413839f764dc27fc8a261b78f336f5.webp" alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">


                                <li class="list-inline-item m-0 p-0">
                                    <a class="btn btn-sm btn-outline-dark"
                                       href="https://shop.distro.uz/ru/add_favorite/canon-dslr-90d-18-135-nano-usm-325mp-4k/">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </li>


                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                                                        href="https://shop.distro.uz/ru/to_cart/11/add/">Добавить
                                    в корзину</a></li>
                                <!--                    <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>-->
                            </ul>
                        </div>
                    </div>
                    <h6><a class="reset-anchor" href="https://shop.distro.uz/ru/detail.html">Canon DSLR 90D
                        18-135 Nano USM 32,5mp 4K</a></h6>
                    <p class="small text-muted">$2500,0</p>
                </div>
            </div>


        </div>
    </section>
    <!-- SERVICES-->
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row text-center gy-3">
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#delivery-time-1"></use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">Доставка</h6>
                                <p class="text-sm mb-0 text-muted">Доставка бесплатная по Ташкенту</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#helpline-24h-1"></use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">На связи 24 x 7</h6>
                                <p class="text-sm mb-0 text-muted">Только в телеграмме</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light">
                                <use xlink:href="#label-tag-1"></use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1">Уведомления</h6>
                                <p class="text-sm mb-0 text-muted">Будь в курсе всего</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- NEWSLETTER-->
    <section class="py-5">

        <div class="container p-0">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <h5 class="text-uppercase">Подписка</h5>
                    <p class="text-sm text-muted mb-0">Подпишись, и всегда будь в курсе акций или событий</p>
                </div>
                <div class="col-lg-6">
                    <form action="https://shop.distro.uz/ru/save_mail/" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                               value="SLSmxVFLIylJm819VUAQTBjGbQejGm9q8mU1da4kZtJGVFaf87V0RNLs9uApWBBV">
                        <div class="input-group">
                            <input name="email" class="form-control form-control-lg" type="email"
                                   placeholder="Enter your email address" aria-describedby="button-addon2">
                            <button class="btn btn-dark" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>